@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<Personel>
@{
    Layout = null;
}



@if (Model.Count > 0)
{
    <div style="background-color:slategray ; padding:15px">
        <div>
            <center>
                <span class="ekip-baslik">Ekibimiz</span><br>
            </center>
        </div>

        <div class="ekip-resimler" style="display:flex">
            @foreach (var item in Model)
            {
                <div class="projeSize">
                    <div class="insaat-muh" style="display:flex; ">
                        <img style="width:350px; height:750px" class="avatar-img insaat-muh" src="@item.Fotograf" alt=""><br>
                    </div>

                    <div>
                        <br />

                        <div>

                            <a href="/Personel/PersonelSil/@item.PersonelID" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <a href="/Personel/PersonelGetir/@item.PersonelID" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div>

                        <span class="ekip-isimler">@item.AdSoyad</span> <br>
                    </div>


                    <div>
                        <span class="ekip-meslekler">@item.Unvan</span> <br>
                    </div>
                    <div>
                        <span class="ekip-telno">@item.TelefonNumarasi</span>
                    </div>

                </div>
            }
        </div>

    </div>
    <br />
}
    <div style="text-align: right; margin-right: 50px ">
        <a class="btn btn-primary" href="/Personel/PersonelEkle/">Personel Ekle</a>
    </div>







