@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<Detaylar>

<br />

<div style="margin-left: 25px;">
    @for (var i = 0; i < Model.Count; i += 2)
    {
        <div style="display: flex;">
            @if (i < Model.Count)
            {
                <div style="width: 45%; height: 500px; margin-right:25px">
                    <img src="@Model[i].Fotograf" style="width:100%; height:100%" />
                    <div style="text-align:right">
                        <a class="btn btn-danger" href="/Iletisim/AdresFotografiSil/@Model[i].DetayID"><span class="glyphicon glyphicon-trash"></span></a>
                        <a class="btn btn-success" href="/Iletisim/AdresFotografiGetir/@Model[i].DetayID"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            }
     
            @if (i + 1 < Model.Count)
            {
                <div style="width: 45%; height: 500px;">
                    <img src="@Model[i + 1].Fotograf" style="width: 100%; height: 100%" />
                    <div style="text-align:right">
                        <a class="btn btn-danger" href="/Iletisim/AdresFotografiSil/@Model[i+1].DetayID"><span class="glyphicon glyphicon-trash"></span></a>
                        <a class="btn btn-success" href="/Iletisim/AdresFotografiGetir/@Model[i+1].DetayID"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            }
        </div>
        <br />
        <br />
    }
</div>


