
@{
    ViewBag.Title = "ProjeIndex";
    Layout = "~/Views/Shared/GenelLayout.cshtml";
}


<div class="hakkimizda-background">
    <center>
        <h1 class="background-sirket-ismi">E & N GRUP MİMARLIK</h1>
        <h1 class="background-sayfa-ismi">Projelerimiz</h1>
    </center>
</div>

<br />
<div style="margin-left:25px"> @*YAZILARI GENEL OLARAK ORTALAYAN DİV SINIIFI TANIMLA*@
    

    <a href="/Projelerimiz/MerkezProjeleri" class="btn btn-success" style="font-size:25px">Merkez Projeleri</a>
    <br />
    <br />
    <a href="/Projelerimiz/IlceProjeleri" class="btn btn-primary" style="font-size:25px">İlçe / Köy Projeleri</a>
</div>




