@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<IletisimBilgileri>

@foreach (var item in Model)
{
    if (!string.IsNullOrEmpty(item.FirmaLogosu))
    {
        <a href="/Admin/AdminIndex"><div class="logo"><img src="@item.FirmaLogosu"></div></a>
        
    }
    if (string.IsNullOrEmpty(item.FirmaLogosu))
    {
        <a href="/Admin/AdminIndex"> <img class="logo-img" style="width:60px;height:60px; text-decoration:none"
     src="~/ENMimarlik/img/logo.png" alt="~/Image/bina1.jpg"></a>
    }

}





