@using ENGrupMimarlikIsparta.Models.Siniflar

@model List<Personel>
@{
    Layout = null;
}


@if (Model.Count > 0)
{
    <div class="ekip">
        <h1>EKİBİMİZ</h1>
        <div class="personeller">
            @foreach (var item in Model)
            {
                <div class="personel">
                    @if (!string.IsNullOrEmpty(item.Fotograf))
                    {
                        <img src="@item.Fotograf">
                    }
                    <p>@item.Unvan</p>
                    <p>@item.AdSoyad</p>
                    <p>@item.TelefonNumarasi</p>

                    @if (Roles.IsUserInRole("A"))
                    {
                        <div class="sil-duzenle-buton">
                            <a class="btn btn-danger glyphicon glyphicon-trash" href="/Personel/PersonelSil/@item.PersonelID"></a>
                            <a class="btn btn-success glyphicon glyphicon-pencil" href="/Personel/PersonelGetir/@item.PersonelID"></a>
                            <br /><br />
                        </div>
                    }
                </div>
            }
        </div>

    </div>
}

@if (Roles.IsUserInRole("A"))
{
    <div class="sil-duzenle-buton">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="/Personel/PersonelEkle/"></a>
    </div>
    <br />
}




