
@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<IletisimBilgileri>

@foreach (var item in Model)
{
    <li class="bottom-li">@item.Adres</li>
    <li class="bottom-li">@item.TelefonNumarasi_1</li>
    <li class="bottom-li">@item.TelefonNumarasi_2</li>
    <li class="bottom-li">@item.Email</li>
}