@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<IletisimBilgileri>

@foreach (var item in Model)
{
    <p><i class="fa-solid fa-location-dot"></i><span></span>@item.Adres</p>
    <p><i class="fa-solid fa-phone"></i><span></span>@item.TelefonNumarasi_1</p>
    <p><i class="fa-solid fa-phone"></i><span></span>@item.TelefonNumarasi_2</p>
    <p><i class="fa-solid fa-envelope-open-text"></i><span></span>@item.Email</p>
}