@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<IletisimBilgileri>
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<title>İletişim | E&N Mimarlık Isparta Özakça Mimarlık</title>


<div class="galeri">
    <div class="web">
        <h2>İLETİŞİM</h2>
    </div>
    <div class="web">
        <h1>E & N MiMARLIK</h1>
    </div>
</div>

<div class="iletisim">
    <div class="icerik">
 
        <iframe style="width:100%; border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d788.4976751913495!2d30.551699285561174!3d37.766816236531085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c5b5be31292373%3A0x672925c5fd0a7f91!2sPirimehmet%2C%201728.%20Sk.%20No%3A3%20D%3A5%2C%2032100%20Isparta%20Merkez%2FIsparta!5e0!3m2!1str!2str!4v1686041497868!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    @foreach (var item in Model)
    {
        <div class="icerik">
            <h1>İletişim Bilgileri</h1>
            <label>Adres:</label>
            <p>@item.Adres</p>
            <label>Telefon:</label>
            <p>@item.TelefonNumarasi_1</p>
            <p>@item.TelefonNumarasi_2</p>
            <label>E-mail</label>
            <p>@item.Email</p>
        </div>
    }
    </div>

<div class="send-message">
    <a class="fa-solid fa-message send-message-button" href="/Sayfalar/Iletisim_MesajBirak/">Mesaj Bırak</a>
</div>









