@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<Detaylar>
@{
    ViewBag.Title = "NelerYapiyoruz";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<title>Neler Yapıyoruz? | E&N Mimarlık Isparta Özakça Mimarlık</title>


<div class="galeri">
    <center>
    <div class="web">
        <h2>NELER YAPIYORUZ?</h2>
    </div>
    <div class="web">
        <h1>E & N MiMARLIK</h1>
    </div>
    </center>
</div>




@foreach (var item in Model)
{
    if (!string.IsNullOrEmpty(item.Fotograf))
    {
        <div class="orta-alan">
            <div class="orta">
                @if (!string.IsNullOrEmpty(item.Fotograf))
                {
                    <div class="icerik">
                        <img src="@item.Fotograf">
                    </div>
                }
                @if (!string.IsNullOrEmpty(item.Baslik) || !string.IsNullOrEmpty(item.Aciklama))
                {
                    <div class="icerik">
                        @if (!string.IsNullOrEmpty(item.Baslik))
                        {
                            <h3>@item.Baslik</h3>
                        }
                        @if (!string.IsNullOrEmpty(item.Aciklama))
                        {
                            <p>@item.Aciklama</p>
                        }
                    </div>
                }


                @if (Roles.IsUserInRole("A"))
                {
                    <div class="sil-duzenle-buton">
                        <a class="btn btn-danger glyphicon glyphicon-trash" href="/NelerYapiyoruz/VeriSil/@item.DetayID"></a>
                        <a class="btn btn-success glyphicon glyphicon-pencil" href="/NelerYapiyoruz/NelerYapiyoruzVerileriniGetir/@item.DetayID"></a>
                        <br /><br />
                    </div>
                }
            </div>
        </div>
    }
}

@if (Roles.IsUserInRole("A"))
{
    <div class="sil-duzenle-buton">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="/NelerYapiyoruz/VeriEkle/"></a>
    </div>
    <br />
}