@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<Detaylar> 
@{
    ViewBag.Title = "NelerYapiyoruz";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}


<div class="hakkimizda-background">
    <center>
        <h1 class="background-sirket-ismi">E & N GRUP MİMARLIK</h1>
        <h1 class="background-sayfa-ismi">Neler Yapıyoruz?</h1>
    </center>
</div>

<br />
@foreach (var item in Model)
{
    <div class="neleryapiyoruz-divler">
        @if (!string.IsNullOrEmpty(item.Fotograf))
        {
            <img class="neleryapiyoruz-img projeSize" src=@item.Fotograf alt="">
        }
        <div>
            @if (!string.IsNullOrEmpty(item.Baslik))
            {
                <div>
                    <h1 class="neleryapiyoruz-text">@item.Baslik</h1>
                </div>
            }
            <br />
            @if (!string.IsNullOrEmpty(item.Aciklama))
            {
                <div>
                    <h2 class="neleryapiyoruz-text">@item.Aciklama</h2>
                </div>
            }
        </div>
    </div>
}
<br />


