
@{
    ViewBag.Title = "Projelerimiz";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<title>Projelerimiz | E&N Mimarlık Isparta Özakça Mimarlık</title>

<div class="galeri">
    <div class="web">
        <h2>PROJELERİMİZ</h2>
    </div>
    <div class="web">
        <h1>E & N MiMARLIK</h1>
    </div>
</div>


<div class="orta-alan">
    <div class="orta">
        <div class="icerik">
            <img src="~/ENMimarlik/img/anasayfa6.jpg">
        </div>
        <div class="icerik">
            <h3>Merkez Projeleri</h3>
            <p>Merkezde yaptığımız toplamda 124 adet proje bulunmaktadır.</p>
            <div class="proje-statu">
                <a class="btn btn-warning" href="/Sayfalar/MerkezProjeleri">Merkez Projelerine Git</a>
            </div>

        </div>
    </div>
</div>

<div class="orta-alan">
    <div class="orta">
        <div class="icerik">
            <img src="~/ENMimarlik/img/anasayfa6.jpg">
        </div>
        <div class="icerik">
            <h3>İlçe / Köy Projeleri</h3>
            <p>İlcelerde yaptığımız toplamda 83 adet proje bulunmaktadır.</p>
            <div class="proje-statu">
                <a class="btn btn-danger" href="/Sayfalar/IlceProjeleri">İlçe / Köy Projelerine Git</a>
            </div>
        </div>
    </div>
</div>



