@using ENGrupMimarlikIsparta.Models.Siniflar
@model List<SosyalMedyaAyarlar>
@foreach (var item in Model)
{

    if (!string.IsNullOrEmpty(item.facebookAdresi))
    {
        <a class="fa-brands fa-square-facebook" href="@item.facebookAdresi" target="_blank"></a>
    }
    if (!string.IsNullOrEmpty(item.twitterAdresi))
    {
        <a class="fa-brands fa-square-twitter" href="@item.twitterAdresi" target="_blank"></a>
    }

    if (!string.IsNullOrEmpty(item.instagramAdresi))
    {
        <a class="fa-brands fa-square-instagram" href="@item.instagramAdresi" target="_blank"></a>
    }

    if (!string.IsNullOrEmpty(item.linkedinAdresi))
    {
        <a class="fa-brands fa-linkedin" href="@item.linkedinAdresi" target="_blank"></a>
    }








}
